body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    background-color: #fdfbf5;
    
}

.linktree{
    display: flex;
}