
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">
<div class = "about-content">
    <h3 class="about-header">about me</h3>
    <img class="about-gif" src="{{url_for('static',filename='assets/mm.png')}}" alt="">
    <p class= "bio">This needs to be re-filed out. Just pasted from linkedin <br> <br>

I'm Jayden, a computer science student at York University. <br>
I've been in love with programming and creating with computers since modifying old Nintendo games and consoles with fan-made hacking tools. I got my start proper with using Gamemaker 8 in grade 10 to make simple games, and that's when my interest in programming really began.
<br> <br>
Since then I've founded my school's game development club, learned full-stack development, and have experience with many different tools and languages (see my resume!!). I'm a fan of programming in many forms, and am always looking for opportunities to use code to make cool stuff.
<br>
When I'm not working I enjoy Drawing, Playing the Piano, Reading, Writing, and playing video games!
<br>
Thanks for stopping by! </p>
</div>
{% endblock %}