<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="border">
        <div>----------------------------</div>
    </div>
    
    <div class="content">
        <div class="navbar">
            <div class="home-nav"><a href="/">home</a></div>
            <div class="about-nav"><a href="/about">about</a></div>
            <div class="resume-nav"><a href="/hire">hire me 😳</a></div>
            <div class="projects-nav"><a href="/projects">projects</a></div>
            <div class="blog-nav"><a href="/posts/">blog</a></div> 
            <div class="site-flavor"><a href="javascript:;" onclick="change_flavor()">plain</a></div>
        </div>
        {% block body%}{% endblock %}
    </div>
    <div class="border">
        <div>----------------------------</div>
    </div>
</body>
<script src="{{url_for('static',filename='js/main.js')}}"></script>
</html>