<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="border">
        <div>----------------------------</div>
    </div>
    
    <div class="content">
        <div class="navbar">
            <div class="home-nav"><a href="{{ url_for('index') }}">home</a></div>
            <div class="about-nav"><a href="{{ url_for('about') }}">about</a></div>
            <div class="resume-nav"><a href="{{ url_for('resume') }}">hire me 😳</a></div>
            <div class="projects-nav"><a href="{{ url_for('projects') }}">projects</a></div>
            <div class="blog-nav"><a href="{{ url_for('posts') }}">blog</a></div> 
            <div class="site-flavor"><a href="javascript:;" onclick="change_flavor()">plain</a></div>
        </div>
        {% block body%}{% endblock %}
    </div>
    <div class="border">
        <div>----------------------------</div>
    </div>
<div class="links">
    <a href="mailto:jayden.patrick.brooks@gmail.com"target="_blank">email</a>
    <a href="https://www.linkedin.com/in/jaydenpb/"target="_blank">linkedin</a>
    <a href="https://github.com/JUB-Yoush"target="_blank">github</a>
    <a href="https://yoush.itch.io/"target="_blank">itch.io</a>
</div>
</body>
<script src="{{url_for('static',filename='js/main.js')}}"></script>
</html>