
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<style>
    .resume-content{
        max-width: 600px;
    }
</style>
<div class="resume-content">
    <h3>projects</h3>
    <p>check out my github <a href="https://github.com/JUB-Yoush" target="_blank">here</a>
    <p>you can find my games <a href="https://yoush.itch.io/" target="_blank">here</a>
    <br><br>
   I'll embed some of the super cool stuff here eventually (trying to re-vamp this site asap)</p>

</div>

{% endblock %}
