
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<style>
    .resume-content{
        max-width: 600px;
    }
    h3
    {
        margin-top: 16px;
    }
    strong{
        margin-top: 32px;
    }

    .tab{
        margin-left: 40px;
    }

</style>
<div class="resume-content">
    <h2>resume</h2>
    <p>a pdf copy can be found <a href="https://file.notion.so/f/s/d5507e37-eaad-41b4-b8e1-24d5cde1d052/Jayden_Brooks_Resume-9.pdf?id=8257fc63-8d5d-4d54-b597-0ecba99c81cf&table=block&spaceId=c477293f-b7c3-4cc8-b30a-761434e7ab2d&expirationTimestamp=1684459413693&signature=gD_3CEiLp8NeQs1Mo90TgBZdh2YBfoZhu87mVVmZmEM&downloadName=Jayden_Brooks_Resume-9.pdf" target="_blank">here</a>
    
    <h3>--Education--</h3>
    <strong>Lassonde School of Engineering, York University </strong>
    <p class="tab">Honours Bachelor of Arts in Computer Science, class of 2025</p>

    <h3>--Work Experience--</h3>
    <strong>Web Development Internship</strong>
    <p class="tab"><em>Tunji Design (June 2021 - September 2021)</em>
    <br><br>
    This was my first Internship. I had a lot of experience with wordpress and other CMS tools at the time
    and was given the opportunity to work with a web design company helping make website solutions for small businesses and charities.
    <br>
    Nowadays I don't use Wordpress or any CMS systems (this site was made in flask), but the experience I got through being in a professional setting for the first time was very valuable.
    <br><br>
    </p>

    <strong>Contract Web Developer </strong>
    <p class="tab"><em>Self Employed (July 2021 - Present)</em>
    <br><br>
    I make websites! <br>
    if you or someone you know needs a static portfolio/personal/company site built then feel free to reach out!
    <br><br>
    I've used the Wordpress CMS on DigitalOcean Linux servers in the past, but nowadays I'd just use a js framework and host it for free 
    (wordpress doesn't really serve as strong of a purpose these days now that web development tools are much better than they used to be, 
    and I actually know how to use them now lol).
    <br><br>
    </p>

    <strong>Private Computer Science Instructor </strong>
    <p class="tab"><em>Self Employed (March 2020 - Present)</em>
    <br><br>
    I teach kids how to code (ages 9 -13) <br>
    It's private classes to a group of home-schooled kids my mom put me in contact with.
    <br><br>
    Teaching other people definitely helps show you the limits in your own understanding, 
   and has given me a stronger understanding of concepts fundamental to software development and computer science.
    <br>
    That and being able to help my students overcome somthing they were struggling on is very gratifying :).
    <br>
    </p>

    <h3>--Projects--</h3>
  <p> I have a <a href="/projects">page</a> dedicated to those</p>
  <br><br>

  <h3>--Extra Curricular--</h3>
  <strong>Game Devs @ YorkU</strong>
  <p class="tab"><em>Founder and Co-president (Nov 2021 - Present)</em>
  <br><br>
  I started the game development club at York University, York was fully online at the time I had started there (Sept 2021), 
  and I started the club through a mix of wanting to make friends and simply wanting to hang out in a game development club. 
  There wasn't one so I decided to make one myself.
  <br><br>
  More than a year Later It's going much better than I could have ever imagined.
  We have a discord server of over 325 people, an executive of 10 (more coming soon, check in september for elections!), Workshops, Community events, and a video-game book club (the true voting class of GDYU)
  <br><br>
  Come check us out <a href="https://yorku.campuslabs.ca/engage/organization/gdyuclub">here</a>
  </p>

  <h3>--Technical Skills--</h3>
  <strong>Languages</strong>
  <p class="tab">JavaScript, SQL, HTML/CSS, GDScript, Java, Python, C/C++, C#</p>
  <strong>Frameworks and Engines</strong>
  <p class="tab">React, jQuery, Node.js Flask, Svelte, Godot, Wordpress</p>
  <strong>Development Tools</strong>
  <p class="tab">Linux, Bash, npm, Git, Github, VSCode, Visual Studio, PyCharm, IntelliJ, Eclipse, Vim</p>

</div>

{% endblock %}
