
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<style>
    .resume-content{
        max-width: 600px;
    }
</style>
<div class="resume-content">
    <h3>resume</h3>
    <p>a pdf copy can be found <a href="https://file.notion.so/f/s/d5507e37-eaad-41b4-b8e1-24d5cde1d052/Jayden_Brooks_Resume-9.pdf?id=8257fc63-8d5d-4d54-b597-0ecba99c81cf&table=block&spaceId=c477293f-b7c3-4cc8-b30a-761434e7ab2d&expirationTimestamp=1684459413693&signature=gD_3CEiLp8NeQs1Mo90TgBZdh2YBfoZhu87mVVmZmEM&downloadName=Jayden_Brooks_Resume-9.pdf" target="_blank">here</a>
    <br><br>
    I'll fill out the rest of this page with elaborating on the things I do / things I use well
    ...eventually (trying to get this out asap and the pdf copy will do for now)</p>

</div>

{% endblock %}
